h1{
    color:black;
    background-color: yellow;
    width:50%;
    text-align:center;
    font-weight: 500;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration:blue wavy underline;
    letter-spacing: 10px;
    text-transform: uppercase;

}

h2{
   color:rgb(4, 255, 0);
   background-color: bisque;
   text-align: right;
   font-weight:200;
   text-decoration: purple  dotted overline;
   letter-spacing: 50px;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   
}

a{
    text-decoration: none;
}

p{
    text-align: justify;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2.5;  
    word-spacing: 30px; 
    
            
}
