div{
    background-color: green;
    height: 100px;
    width: 100px;
    display: inline-block;
    margin-left: 10px;

}

#a{
    background-color: yellow;
    position: static;
    left: 50px;
}
#b{
    background-color: yellow;
    position: relative;
    left: 100px;
   
}
#c{
    background-color:yellow;
    position: absolute;
    left: 300px;
    top: 10px;
   
}
#d{
    background-color:yellow;
    position:fixed;
    left: 500px;
    top: 200px;
   
}
