h1{
    color:#1b74e4;
    font-family: 'Courier New';

}

.account{
    background-color: aqua !important;

}

button{
    background-color: black;
    color: white;
}
.account{
    background-color: black;
}